:root {
  --primary-color: #e0ffcd;
  --secondary-color: #fceaea;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: #000;
  opacity: 0.7;
  border-radius: 4px;
  padding: 20px 15px;
}

.introduction {
  display: flex;
  margin: 30px 0;
}

.introduction a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.email-link {
  color: black;
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.primary-link {
  border-radius: 4px;
  text-decoration: none;
  padding: 20px 15px;
  background-color: var(--secondary-color);
  color: #000;
  opacity: 0.7;
}

.navbar-brand {
  border: 3px solid;
  padding: 16px 20px;
  opacity: 0.5;
  border-radius: 20px;
}

.bg-navbar {
  background: var(--primary-color);
}

.hero {
  padding: 60px 40px;
  background-color: var(--primary-color);
}

.img-container {
  background-color: var(--primary-color);
  display: inline-block;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 20px;
}

.social-links a {
  font-size: 45px;
  color: #000;
  opacity: 0.5;
  padding: 20px 10px;
}

.tools {
  display: flex;
  justify-content: center;

}

.toolbox {
  padding: 30px;
  margin-left: 55px;
}

h4 {
  font-size: 55px;
  text-align: start;
  padding: 0 70px;
  margin: 0 70px;
}

h5 {
  font-size: 50px;
  line-height: 1.3;
  opacity: 0.7;
  margin-bottom: 0;
}

span {
  font-size: 65px;
}

.skill-label {
  display: block;
  text-align: center;
  margin-right: 55px;
}

.toolbox-skill img {
  width: 150px;
  background-color: var(--primary-color);
  border-radius: 50px;
}

.inquiry-container {
  background-color: var(--secondary-color);
  margin: 90px;
  background-position: center;
  background-size: contain;
}

.inquiry {
  text-align: center;

}

.work-inquiry {
  display: block;
  font-size: 30px;
  line-height: 1.2px;
}

.work-inquiry p {
  font-size: 25px;
  margin-top: 0;
  padding-top: 0;
}

.contact-button {
  padding: 20px 15px;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #000;
  opacity: 0.7;
  border-radius: 4px;
}