:root {
  --primary-color: #e0ffcd;
  --secondary-color: #fceaea;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: #000;
  opacity: 0.7;
  border-radius: 4px;
  padding: 20px 15px;
}

.introduction {
  display: flex;
  margin: 30px 0;
}

.introduction a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.email-link {
  color: black;
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.primary-link {
  border-radius: 4px;
  text-decoration: none;
  padding: 20px 15px;
  background-color: var(--secondary-color);
  color: #000;
  opacity: 0.7;
}

.navbar-brand {
  border: 3px solid;
  padding: 16px 20px;
  opacity: 0.5;
  border-radius: 20px;
}

.bg-navbar {
  background: var(--primary-color);
}

.hero {
  padding: 60px 40px;
  background-color: var(--primary-color);
}

.img-container {
  background-color: var(--primary-color);
  display: inline-block;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 20px;
}

.social-links a {
  font-size: 45px;
  color: #000;
  opacity: 0.5;
  padding: 20px 10px;
}

.toolbox {
  width: 999px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

h4 {
  font-size: 55px;
  text-align: start;
  padding: 0 70px;
  margin: 0 70px;
}

.toolbox img {
  width: 100px;
  background-color: var(--secondary-color);
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}