:root {
  --primary-color: #e0ffcd;
  --secondary-color: #fceaea;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: #000;
  opacity: 0.7;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  text-decoration: none;
  padding: 20px 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.navbar-brand {
  border: 3px solid;
  padding: 16px 20px;
  opacity: 0.5;
  border-radius: 20px;
}

.bg-navbar {
  background: var(--primary-color);
}

.hero {
  padding: 60px 40px;
  background-color: var(--primary-color);
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6s both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6s both;
}